.module {
  width: 30rem;
  height: 30rem;

  @include Center;

  &__shape {
    position: relative;
    width: 30rem;
    height: 30rem;
    @include Center;

    &:hover{
      transform: translateY(-5px);
        transition: transform 0.5s;
    }

    &:hover + .module__content {
      transform: translateY(-7px);
      transition: transform 0.2s;
    }


    &:hover>div {
      cursor: pointer;
      background-color: darken($Green100, 5%);
    }



    &:hover>&-shadow-1 {
      box-shadow: 0px 8px 8px 0px darken($Blue50, 10%);
    }

    &:hover>&-shadow-2 {
      box-shadow: 0px -8px 8px 0px darken($Blue50, 10%);
    }

    &:hover>&-shadow-3 {
      box-shadow: 0px 8px 8px 0px darken($Blue50, 10%);
    }

    &-shadow {

      &-1 {
        @include Rectangle;
        transform: rotate(-45deg);
        box-shadow: 0px 8px 8px 0px darken($Blue50, 5%);

      }

      &-2 {
        @include Rectangle;
        transform: rotate(90deg);
        box-shadow: 0px -8px 8px 0px darken($Blue50, 5%);
        ;
      }

      &-3 {
        @include Rectangle;
        box-shadow: 0px 8px 8px 0px darken($Blue50, 5%);
        ;
      }
    }


    &-rec1 {
      transform: rotate(45deg);
      @include Rectangle;
    }

    &-rec2 {
      transform: rotate(-45deg);
      @include Rectangle;

    }

    &-rec3 {
      @include Rectangle;
    }

    &-rec4 {
      transform: rotate(90deg);
      @include Rectangle;
    }
  }

  &__content{
    position: absolute;
    pointer-events: none;
  }
}

@media screen and (max-width: 570px) {
  .module {

    &__shape {
      height: 16rem;
      width: 16rem;

      &-rec1 {
        @include rectangleMobile;
      }

      &-rec2 {
        @include rectangleMobile;
      }

      &-rec3 {
        @include rectangleMobile;
      }

      &-rec4 {
        @include rectangleMobile;
      }

      &-shadow {
        &-1 {
          @include rectangleMobile;
        }

        &-2 {
          @include rectangleMobile;
        }

        &-3 {
          @include rectangleMobile;
        }
      }
    }
  }
}